@charset "UTF-8";

@media screen and (min-width: 670px) and (max-width: 810px) {
    header {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        padding: 10px;
    }

    nav.show {
        display: flex;
    }

    header > h1 {
        border: 1px dotted black;
    }

    span#burguer {
        display: none;
    }

    nav {
        display: flex;
        flex-flow: row wrap;
        border: 1px dotted black;
    }
}

@media screen and (min-width: 810px) {
    header {
        display: flex;
        flex-flow: row wrap;
        justify-content:space-between;
        padding: 10px;
    }

    nav.show {
        display: flex;
    }

    span#burguer {
        display: none;
    }

    nav {
        display: flex;
    }

    main {
        display: block;
        width: 60%;
        margin: 10px auto;
    }
}
