@charset "UTF-8";

/* Todas as demais mídias */

/* 

Celulares e telas pequenas: 320px - 360px
Celulares na horizontal e Tablets menores: 480px - 640px
Tablets comuns: 768px - 1024px
Desktops e Laptops: 1200px - 1440px
TV e Grandes Telas: no mínimo 1920px

*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    main > section#login {
        background-color: white;
        width: 80vw;
        height: 400px;
    }

    div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    form > div.campo {
        width: 500px;
    }

    div.campo > input {
        width: 60%;
        transform: translate(50px, -8px);
    }
}
